{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login Form Template</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'account/login/from_internet/css' %}">
    <link rel="stylesheet" href="{% static 'account/login/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/login/assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'account/login/assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'account/login/assets/css/style.css' %}">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static 'account/login/assets/ico/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'account/login/assets/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'account/login/assets/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'account/login/assets/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static 'account/login/assets/ico/apple-touch-icon-57-precomposed.png' %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Bootstrap</strong> Login Form</h1>
                    <div class="description">
                        <p>
                            This is a free responsive login form made with Bootstrap.
                            Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="{% url 'login' %}" method="post" class="login-form">{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="username">Username</label>
                                <input type="text" name="username" placeholder="Username..."
                                       class="form-username form-control" id="username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="password">Password</label>
                                <input type="password" name="password" placeholder="Password..."
                                       class="form-password form-control" id="password">
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <button type="submit" class="btn">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="{% url 'password_reset' %}">
                            忘记密码
                        </a>
                        <a class="btn btn-link-2" href="{% url 'register' %}">
                            新用户注册
                        </a>
                        <a class="btn btn-link-2" href="{% url 'index' %}">
                            游客访问
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="{% static 'account/login/assets/js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'account/login/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'account/login/assets/js/jquery.backstretch.min.js' %}"></script>
{#<script src="{% static 'account/login/assets/js/scripts.js' %}"></script>#}
<script>
    jQuery(document).ready(function () {

        /*
            Fullscreen background
        */
        $.backstretch([
            "{% static 'account/login/assets/img/backgrounds/2.jpg' %}"
            , "{% static 'account/login/assets/img/backgrounds/3.jpg' %}"
            , "{% static 'account/login/assets/img/backgrounds/1.jpg' %}"
        ], {duration: 3000, fade: 750});

        /*
            Form validation
        */
        $('.login-form input[type="text"], .login-form input[type="password"], .login-form textarea').on('focus', function () {
            $(this).removeClass('input-error');
        });

        $('.login-form').on('submit', function (e) {

            $(this).find('input[type="text"], input[type="password"], textarea').each(function () {
                if ($(this).val() == "") {
                    e.preventDefault();
                    $(this).addClass('input-error');
                } else {
                    $(this).removeClass('input-error');
                }
            });

        });


    });
</script>

<!--[if lt IE 10]>
            <script src="{% static 'account/login/assets/js/placeholder.js' %}"></script>
        <![endif]-->

</body>

</html>