{% extends 'base.html' %}
{% block title %}博客详情{% endblock %}
{% block content %}
    <div id="content">
        <div id="breadcrumb">
            <!-- breadcrumb starts-->
            <div class="container">
                <div class="one-half">
                    <h4>博文详情</h4>
                </div>
                <div class="one-half">
                    <nav id="breadcrumbs">
                        <!--breadcrumb nav starts-->
                        <ul>
                            <li>You are here:</li>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li>Blog Post</li>
                        </ul>
                    </nav>
                    <!--breadcrumb nav ends -->
                </div>
            </div>
        </div>
        <!--breadcrumbs ends -->
        <div class="container">
            <div class="one">
                <div class="three-fourth">
                    <div class="blog-post">
                        <div class="permalink">
                            <h4><a href="#">{{ object.title }}</a></h4>
                        </div>
                        <ul class="post-meta">
                            <li><i class="icon-time"></i>{{ post.publish|date:"Y/m/d" }}</li>
                            <!-- Date -->
                            <li><i class="icon-user"></i><a href="#">{{ post.author.first_name }}</a></li>
                            <!-- Author -->
                            <li><i class="icon-tags"></i>
                                {% for tag in post.tags.all %}
                                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">{{ tag.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            <!-- Category -->
                            <li><i class="icon-comments"></i><a href="#">{{ post.comments.count }}</a></li>
                            <!-- Comments -->
                            <li><i class="icon-eye-open"></i><a href="#">{{ post.explored }}</a></li>
                            <!-- Explored -->
                        </ul>
                        <!-- End post-meta -->
                        <div class="post-intro">
                            {{ object.body|safe }}
                            <div class="post-author">
                                <img src="images/avatars/avatar-01.png" alt=""/>
                                <div class="about-description">
                                    <h4>{{ object.author.first_name }}</h4><span class="reply"><a
                                        href="{% url 'blog:comment_create' object.pk %}"><i class="icon-reply"></i>回复本篇博文</a></span>
                                    <p><strong>相似博文</strong></p>
                                    <ul>
                                    {% for item in similar_posts %}
                                    <li>
                                        <a href="{{ item.get_absolute_url }}" >{{ item.title }} by {{ item.author.first_name }}</a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <section class="comments-sec">
                        <ul class="commentlist">
                            {% for comment in comment_list %}
                                <li class="comment {% if comment.parent_comment %}child{% endif %}">
                                    <div class="comment">
                                        <div class="avatar">
                                            <img src="images/avatars/avatar-03.png" alt=""/>
                                        </div>
                                        <div class="comment-entry">
                                            <div class="comment-arrow">
                                            </div>
                                            <div class="comment-author">
                                                {% if comment.parent_comment %}
                                                <strong>{{ comment.author.first_name }}</strong><span class="date">{{ comment.created }}回复</span>
                                                <strong>{{ comment.parent_comment.author.first_name }}</strong><span class="date">{{ comment.parent_comment.created }}发表的评论</span>
                                                {% else %}
                                                <strong>{{ comment.author.first_name }}</strong><span class="date">{{ comment.created }}</span>
                                                {% endif %}
                                                <span
                                                    class="reply"><a href="{% url 'blog:comment_reply' comment.pk %}"><i
                                                    class="icon-reply"></i>回复本条评论</a></span>
                                            </div>
                                            <p>
                                                {{ comment.body }}
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            {% empty %}
                                <li><h5>本博文尚未有人评论</h5></li>
                            {% endfor %}

                        </ul>
                    </section>
                </div>
                {% include 'blog/right-side-bar.html' %}
            </div>
        </div>
    </div>
{% endblock %}