{% load blog_tags %}
<div class="one-fourth sidebar right">
    <div class="widget">
        <nav class="top-search">
            <!-- search starts-->
            <form action="404-error.html" method="get">
                <button class="search-btn"></button>
                <input class="search-field" type="text" onblur="if(this.value=='')this.value='Search';"
                       onfocus="if(this.value=='Search')this.value='';" value="Search"/>
            </form>
        </nav>
    </div>
    <div class="widget">
        <h4 class="widget-title">博客统计信息</h4>
        <p>
            截至{% now "Y年m月d日 h:m" %}, 已发布了{% total_posts %}篇文章
        </p>
    </div>
    <div class="widget">
        <h4 class="widget-title">最新发表博文TOP5</h4>
        {% show_latest_posts 5 %}
    </div>
    <div class="widget">
        <h4 class="widget-title">最多评论博文TOP5</h4>
        {% get_most_commented_posts as most_commented_posts %}
        <ul class="sidebar-nav">
            {% for post in most_commented_posts %}
            <li><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                <i class="icon-file-text-alt"></i>{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <h4 class="widget-title">博文归档</h4>
        {% get_pub_date_list as pub_date_list %}
        <ul class="sidebar-nav">
            {% for year, month in pub_date_list %}
            <li><a href="{% url 'blog:archive_month' year month %}" title="{{ year }}年{{ month }}月">
                <i class="icon-angle-right"></i>{{ year }}年{{ month }}月</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <h4 class="widget-title">标签筛选</h4>
        {% get_all_tags as all_tags %}
        <ul class="popular-tags">
            {% for tag in all_tags %}
            <li><a href="{% url "blog:post_list_by_tag" tag.slug %}"><i class="icon-tag"></i>{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>